.btn {height: 50px; width: 150px;}
body {font-family: 'Dosis', sans-serif; font-size: 2em;  height: 100%; padding-bottom: 70px;}
#tech-boarder {border: double;}
h2 {text-align: center; font-size: 2.5em;}



.parallax {
	/* The image used */
	background-image: url("../img/sandia-mountain-sunset.jpg");

	/* Full height */
	height: 100%;

	/* Create the parallax scrolling effect */
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}



#btn-tech {
	font-size: 3em;
}

.navbar .navbar-nav {
	display: inline-block;
	float: none;
	vertical-align: top;
}

.navbar .navbar-collapse {
	text-align: center;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
}

li .test {
	float: left;
}

/*li a .test	{*/
	/*display: block;*/
	/*color: white;*/
	/*text-align: center;*/
	/*padding: 14px 16px;*/
	/*text-decoration: none;*/
/*}*/
/* testing comment */


@media (min-width: 700px) {
	#nav-b {
		display: none;
	}
}
@media (max-width: 700px) {
	#nav-t {
		display: none;
	}
}
.navbar .navbar-nav {
	display: inline-block;
	float: none;
	vertical-align: top;
}

.navbar .navbar-collapse {
	text-align: center;
}

a:hover{
	color: white !important;

}
a{ color: green;}